/*VARIABLES*/

/* colours */
$header-bg:rgba(255,255,255,0.5);
$footer-bg:#000;
$sidebar-bg: rgba(255,255,255,0.8);

/* fonts */

$heading-large:	30px;
$heading-medium: 22px;
$heading-small:	18px;

$text-large: 18px;
$text-medium: 16px;
$text-small: 12px;
$text-default: 14px;

/* Breakpoints */
$break-mobile: 640px;
$break-tablet: 768px;
$break-desktop:	1024px;

/* Panel Colours */
$intro-bg:#F7F41B;
$education-bg:#387CF2;
$history-bg:#4ACC08;
$skills-bg:#FA7211;
$references-bg:#11A1FA;
$about-bg:#FF5252;

